<launch>
	<arg name = "fresh_start"/> 
	<arg name = "barn_field" default="true"/> 
	<arg name = "load_backup_plan" default="false"/>
	<param name="pruning_status" type="bool" value="1" />
	<param name="nav_status" type="bool" value="1" />
	<node pkg="mpc_amiga" type="mpc_corn_insertion.py" name="robot_controller" output="screen" args="$(arg fresh_start) --barn_field $(arg barn_field) --load_backup_plan $(arg load_backup_plan)" />

</launch>
